.container{
    width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}
 .header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 50;
    background-color: white;
} 
.title1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-size: 18px;
    margin-top: 100px;
    margin-bottom: 41px;
}
.title2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-size: 40px;
    margin-bottom: 41px;
}
.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-list{
    display: flex;
    align-items: center;    
}
.li-header{
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.fa-chevron-down{
    margin-left: 3px;
    margin-right: 3px;
}
    
.bottom{
    height: 65px;
    width: 184px;
    background-color: #6B77E5;
    color: aliceblue;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}
.navigation{
    display:flex;
    background-color: rgb(254, 252, 255);
    align-items: center;
    margin-right: 865px;
    margin-left: 191px;
}

/* end header styles  */
.main{
    background-color:#F4F4F4 ;
    width: 386px;
    height:383px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.info{
    background-color: rgb(181, 184, 186);
   width: 300px;
   height: 185px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;

}
.icon{
    width: 72px;
    height: 72px;
    background-color: #40DDB6;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.icon2{
    background-color: #6B77E5;
    border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 72px;
   height: 72px;
}
.icon3{
    background-color: #40DDB6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;

}
.title3{
    color: #37393F;
    font-size: 25px;
    font-family: 'Inter';
}
.text1{
     color:  #7D7D7D;
    font-size: 18px;
     font-family: 'Inter';
    padding-top: 16px;
    padding-bottom: 14px;
}
.title4{
   color: #6B77E5;
   font-size: 18px;
   font-family: 'Inter';
}
/* end section1 */
.img-section{
    left: -2px;
    top: 15px;
    position: relative;
}
.img-last{
    width: 100%;
}
.text-block{
    position: absolute;
    width: 511px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: lightslategray;
    text-align: center;
    display: flex;
    align-items: center;
     flex-direction: column;
}
.last-icon{
    background-color: #6B77E5;
    border-radius: 50%;
    height: 64.5px;
    width: 64.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.title5{
    font-family: 'Inter';
    font-size: 18px;
    color: #37393F;
    padding-top: 43px;
}
.title6{
    font-size: 40px;
    color: #37393F;
    font-family: 'Poppins';
}
.text2{
    color: #37393F;
    font-size: 18px;
    font-family: 'Inter';
}
/* end section2 */
.imige-block{
    width:386px ;
    height: 532px;
    position: relative;
    margin-left: 38px;
    margin-top: 41px;
}
.information{
    width:341px ;
    height: 114px;
    background-color: #F4F4F4;
    position: absolute;
    left: 22px;
    bottom: 22px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.last-list{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.last-title1{
    margin-top: 155px;
    margin-bottom: 16px;
    font-size: 18px;
    color: #37393F;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
}
.last-title2{
    padding-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Poppins';
    color: #37393F;
    margin-bottom: 36px;
}
.lastname{
    font-size: 25px;
    color: #37393F;
    font-family: 'Poppins';
}
.prof{
    font-size: 18px;
    color: #7D7D7D;
    font-family: 'Inter';
}


