.container{
    width: 1220px;
    margin: 0 auto;
}
.header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 50;
}
.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-list{
    display: flex;
    align-items: center;    
}
.li-header{
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.fa-chevron-down{
    margin-left: 3px;
    margin-right: 3px;
}
    
.bottom{
    height: 65px;
    width: 184px;
    background-color: #6B77E5;
    color: aliceblue;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}
.navigation{
    display:flex;
    background-color: rgb(254, 252, 255);
    align-items: center;
    margin-right: 865px;
}

/* end header styles  */
